//COLOURS
.is-primary {
  background: $primary;
  color: $theme-light;
}

.is-secondary {
  background: $theme-light;
  color: $primary;
}

//TYPOGRAPHY
.small-text {
  font-size: $small-text;
}

.intro {
  max-width: 45rem;
  display: block;
  margin: 0 auto $baseline*2;
  font-size: $normal-text;
}

//OVERLAY

.is-overlay--light {
  background: rgba(252,233,231,0.5);
}

.is-overlay--dark {
  background: rgba(25,58,105,0.8);
}

//SPACING
.normal-padding {
  padding: $baseline 0;
}

.medium-padding {
  padding: $baseline*2 0;
}

.large-padding {
  padding: $baseline*3 0;
}

.text-content {
  max-width:45rem;
  margin:0 auto;

  h3 {
    text-align: left;
  }

  p {
    margin-bottom: 1rem;
  }

  ul li {
    padding: 0 0 1rem 20px;

    &:before {
      content: url(./static/images/cat.svg);
      width: 15px;
      height: 15px;
      display: inline-block;
      margin-left: -15px;
      margin-right: 5px;
    }
  }
}

//ALIGNMENT

.align-center {
  text-align: center;
}

//POSITION
.is-relative {
  position: relative;
}

.display-none {
  display: none;
}

.no-body-scroll {
  position: fixed;
  width: 100%;
}

//RESPONSIVE YOUTUBE Video
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

//CODE SNIPPETS STYLING

.hljs-comment,.hljs-quote{color:#7e7887}.hljs-variable,.hljs-template-variable,.hljs-attribute,.hljs-regexp,.hljs-link,.hljs-tag,.hljs-name,.hljs-selector-id,.hljs-selector-class{color:#be4678}.hljs-number,.hljs-meta,.hljs-built_in,.hljs-builtin-name,.hljs-literal,.hljs-type,.hljs-params{color:#aa573c}.hljs-string,.hljs-symbol,.hljs-bullet{color:#2a9292}.hljs-title,.hljs-section{color:#576ddb}.hljs-keyword,.hljs-selector-tag{color:#955ae7}.hljs-deletion,.hljs-addition{color:#19171c;display:inline-block;width:100%}.hljs-deletion{background-color:#be4678}.hljs-addition{background-color:#2a9292}.hljs{display:block;overflow-x:auto;background:#19171c;color:#8b8792;padding:0.5em}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}
