// Colours
// ---------

$white:#fff;
$theme-dark:#183c34;
$theme-light:#c6d7d0;
$primary: $theme-dark;
$light:#f7bca5;
$text-colour:#11223f;
$cta-colour:#ff5734;

$gradient: linear-gradient(90deg, #c6d7d0 0%, #f7bca5 100%);
$rainbow-gradient: linear-gradient(315.84deg, rgb(255, 161, 69) 0%, rgb(199, 43, 165) 20.51%, rgb(73, 44, 147) 72.46%, rgb(83, 21, 88) 100%);


$shadow: 0 0 8px 0 rgba(0,0,0,.15);

// Typography
// ---------

$baseline: 16px;

$text-font: 'Muli', sans-serif;
$title-font: 'Ubuntu', cursive;

$large-text: 50px;
$medium-text: 40px;
$normal-text: 24px;
$small-text: $baseline;
