// Colours
// ---------

$white:#fff;
$theme-dark:#352278;
$theme-light:#A853ED;
$primary: $theme-dark;
$light:#f9f5f4;
$text-colour:#333333;
$cta-colour:#55C7CC;

$gradient: linear-gradient(90deg, rgba(168,83,237,1) 0%, rgba(53,34,120,1) 100%);
$rainbow-gradient: linear-gradient(315.84deg, rgb(255, 161, 69) 0%, rgb(199, 43, 165) 20.51%, rgb(73, 44, 147) 72.46%, rgb(83, 21, 88) 100%);


$shadow: 0 0 8px 0 rgba(0,0,0,.15);

// Typography
// ---------

$baseline: 16px;

$text-font: 'Muli', sans-serif;
$title-font: 'Ubuntu', cursive;

$large-text: 50px;
$medium-text: 40px;
$normal-text: 24px;
$small-text: $baseline;
