// Colours
// ---------

$white:#fff;
$theme-dark:#183a68;
$theme-light:#fce6e4;
$primary: $theme-dark;
$yellow: #f9b433;
$light:#f9f5f4;

$gradient: linear-gradient(90deg, rgba(17,188,171,1) 0%, rgba(123,204,205,1) 100%);

// Typography
// ---------

$baseline: 16px;

$text-font: 'Muli', sans-serif;
$title-font: 'Ubuntu', cursive;

$large-text: 60px;
$medium-text: 40px;
$normal-text: 24px;
$small-text: 14px;
