.company-block-container {
  background: $theme-light;
  padding: 4rem 0 0;

  .container {
    max-width: 50rem;
    margin: 0 auto;
    @include mq($until: dss) {
      padding: 2rem;
    }
  }
}

.company-block {
  border-radius: 4px;
  background: $white;
  padding:$baseline*2;
  box-shadow: $shadow;

  img {
    border-radius: 4px;
    padding: 1rem;
    display: block;
    margin: 0 auto;
  }
}
