.content_block {

  @include mq($until: tb) {
    padding: 1.5rem;
  }

  padding-top: $baseline*2;

  &:last-of-type {
    padding-bottom: $baseline*2;
  }

  img {
    border-right:10px solid $theme-light;
    border-bottom: 10px solid $theme-light;
  }
}
