.hero {
  background: transparent;
  color: $primary;

  .is-fullheight {
    min-height: 100vh;
  }

  .img-left {
    width: 8rem;
    position: absolute;
    bottom: 0;
    left: 0;

    @include mq($from: dsl) {
      width: 13rem;
    }
  }

  .img-right {
    width: 20rem;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

    @include mq($from: dsl) {
      width: 30rem;
    }
  }


    &-body {

      padding: 6rem 3rem;
      @include mq($from: tb) {
        padding: 3rem 1.5rem 3rem 9rem;
      }
    }
  
    .container {

      @include mq($from: tb) {
        display: flex;
        justify-content: center;
      }

      img {
        border-radius: 100%;
        @include mq($from: tb) {
          height: 15rem;
          margin-right: 2rem;
        }
      }
    }

  .intro {
    font-size: $normal-text;
    margin:$baseline 0;

    @include mq($until: tb) {
      padding: 0;
    }

    @include mq($from: tb) {
      max-width: 70%;
    }
  }

  &_default {
    background: $theme-light;
    color: $white;
    text-align: center;
    padding: $baseline*6 0 $baseline*2;

    h1 {
      font-size: $medium-text;
    }

    .intro {
      max-width: 45rem;
      display: block;
      margin: 0 auto;
      font-size: $normal-text;
    }

    a {
      color: $white;
      font-weight: 600;
      text-transform: uppercase;
      font-size: $small-text;
      border-bottom: 1px solid $white;
      padding:2px 0;
      margin: 0 10px;
      letter-spacing: 1px;

      &:hover {
        color:$primary;
        border-bottom: 1px solid $primary;
      }
    }
  }
}
