.usps {
  margin-top: 4rem;
  background: $light;

  @include mq($until: tb) {
    padding: 1.5rem;
  }

  .usp {
    height: 100%;
  }

  .usp_content {
    height: 100%;
    border-radius: 4px;
    box-shadow: $shadow;
    background: $white;
    padding:$baseline*2;
    color:$primary;
    height: 100%;

    h4 {
      color:$primary;
      text-transform: uppercase;
      padding-bottom: $baseline;
      display: block;
    }
  }

  h3 {
    text-align: center;
  }
  img {
    width: 80px;
  }
}
