body {
  font-family: $text-font;
  font-size: $small-text;
  color: $text-colour;
}

a {
  color: $theme-light;
  transition: all 0.4s ease-in;
}

h1 {
  font-family: $title-font;
  font-size: $large-text;
}

h3 {
  font-family: $title-font;
  font-size: $normal-text;
  color: $primary;
  padding-bottom: 0;
  line-height: 55px;
}

h4 {
  color: $primary;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section {
  padding:$baseline*3 0;
}

.svg-inline--fa {
  height:1.5em;
}
