.button {
  transition: all 0.4s ease-in;
  margin: $baseline 0;
}

.button.is-primary {
  background: $primary;
  border: 2px solid $primary;
  &:hover {
    background: transparent;
    border:2px solid $primary;
    color: $primary;
  }
}

.button.is-yellow {
  background: $yellow;
  color: $primary;
  border: none;
   &:hover {
     background: $primary;
     color: $white;
   }
}
