.button {
  transition: all 0.4s ease-in;
  margin: $baseline 0;
  font-family: $title-font;
  text-transform: uppercase;
  border-radius: 0;
  letter-spacing: 1px;
  background: $white;
  color: $cta-colour;
  border: 2px solid $white;
   &:hover {
     background: transparent;
     border: 2px solid $white;
     color: $white;
   }
}

.button.is-primary {
  background: $cta-colour;
  border: 2px solid $cta-colour;
  color: $white;
  &:hover {
    background: transparent;
    border: 2px solid $cta-colour;
    color: $cta-colour;
  }
}

.button.is-secondary {
  background: $theme-dark;
  color: $white;
  border: 2px solid $theme-dark;
   &:hover {
     background: transparent;
     border: 2px solid $theme-dark;
     color: $theme-dark;
   }
}
